.button {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.6rem 1rem;

  width: fit-content;
  height: 3rem;

  border-radius: 1.5rem;
  border: 0.5px solid;
  font-family: "Circular Std";

  font-style: normal;
  font-weight: 450;
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_color-primary {
  background-color: #ecf4ff;
  border-color: #0063f5;
  color: #0063f5;
}

.button_color-primary:hover {
  color: #ecf4ff;
  background-color: #0063f5;
}

.button_color-secondary {
  background-color: #f8f9fa;
  border-color: #dfe2e4;
  color: #6c757d;
}

.button_color-secondary:hover {
  background-color: #6c757d;
  color: #f8f9fa;
}

.button_disabled {
  background-color: #d9d9d9;
  color: #fff;
}
.button_disabled:hover {
  background-color: #d9d9d9;
  color: #fff;
}
