@import "@styles/general/variables.scss";

.main_heading {
  font-size: $font-size-big;
  text-align: center;
  margin-bottom: $margin-big;
}

.form_search {
  margin-bottom: $margin-small;
  display: flex;
  align-items: center;
  justify-content: center;
}
